#Code alongs - python fundamentals 1

In [1]:
my_fruit = "apple"

print(f"i like to eat: {my_fruit}")

i like to eat: apple

In [8]:
age = 25
loves_math = True
type(age),age,type(loves_math),loves_math

(int, 25, bool, True)

#Collections
--list
-- tuples
--sets
--dictionary

In [7]:
#list of one data type only
interests = ["coding", "reading", "writing", "gaming"]  
#list of multiple data types
person = ["apple", 3.14, 42, True, interests]
person

['apple', 3.14, 42, True, ['coding', 'reading', 'writing', 'gaming']]

In [9]:
interests

['coding', 'reading', 'writing', 'gaming']

In [10]:
type(person), type(person[2])

(list, int)

#  Slicing and indexing

In [11]:
interests[1:3]

['reading', 'writing']

In [12]:
age = 33
type(age),age

(int, 33)

In [9]:
interests[-1], interests[::-2]

('gaming', ['gaming', 'reading'])

In [10]:
person.append(interests)
person

['apple',
 3.14,
 42,
 True,
 ['coding', 'reading', 'writing', 'gaming'],
 ['coding', 'reading', 'writing', 'gaming']]

In [11]:
person[-1][-2]

'writing'

In [14]:
person_interests = person[-1]   #person_interests is a reference to the same list as person[-1]
person_interests[-2]

'writing'

In [20]:
for interest in interests:
    print(interest) #this is a comment
    #java: 
    #for(int i = 0; i < interests.length; i++){ System.out.println(interests[i]);}  //this is a comment in java code  #this is a comment in python code  
    # } //end of for loop in java code
    print("Don't do this") 
    
    for i in range(0, len(interests)):
        print(interests[i])

coding
Don't do this
coding
reading
writing
gaming
reading
Don't do this
coding
reading
writing
gaming
writing
Don't do this
coding
reading
writing
gaming
gaming
Don't do this
coding
reading
writing
gaming

In [22]:
  # not pythonic
for i in range(len(person_interests)):
    print(i+1,person_interests[i])

1 coding
2 reading
3 writing
4 gaming

In [25]:
#pythonic   
for i, interest in enumerate(person_interests,1):
    print(i,interest)

1 coding
2 reading
3 writing
4 gaming

### List Creation
:Append
:List comprehension

In [26]:
numbers = []
for i in range(10):
    numbers.append(i)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
squares = [i**2 for i in range(10)] #list comprehension     
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
[i**3 for i in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [30]:
[i**3 for i in numbers if i%2 == 0]

[0, 8, 64, 216, 512]

In [31]:
# i %2  ( the condition) is True for even numbers and False for odd numbers 
# if i %2 == 0  (the condition) is True for even numbers and False for odd numbers
odd_numbers_squared = [i**2 for i in numbers if i % 2 != 0] #list comprehension
odd_numbers_squared

[1, 9, 25, 49, 81]

#Dictionary 

Key : value pair

In [32]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platfrom": 40,
    "data_modeling": 30,
    "data_visualization": 30,
}
courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platfrom': 40,
 'data_modeling': 30,
 'data_visualization': 30}

In [33]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platfrom', 'data_modeling', 'data_visualization'])

In [34]:
courses.keys(), courses.values()

(dict_keys(['python', 'agile', 'sql', 'data_platfrom', 'data_modeling', 'data_visualization']),
 dict_values([40, 15, 30, 40, 30, 30]))

In [35]:
len(courses.keys()), len(courses.values())  #tuple

(6, 6)

In [36]:
for course in courses:
    print(course)   #prints the keys

python
agile
sql
data_platfrom
data_modeling
data_visualization

In [37]:
for course in courses:
    print(course, courses[course])   #prints the keys and values

python 40
agile 15
sql 30
data_platfrom 40
data_modeling 30
data_visualization 30

In [42]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")   #prints the keys and values

Course               Points
python               40
agile                15
sql                  30
data_platfrom        40
data_modeling        30
data_visualization   30

#STRING

In [43]:
ml_terms = "sUperVised leArning, UnsuPerviSed, semi-supervised, Reinforcement Learning"
len(ml_terms)

74

In [44]:
ml_terms.strip().split(",")  #splitting the string into a list of strings

['sUperVised leArning',
 ' UnsuPerviSed',
 ' semi-supervised',
 ' Reinforcement Learning']

In [45]:
"".join(ml_terms.split(",")).lower()  #joining the list of strings into a single string

'supervised learning unsupervised semi-supervised reinforcement learning'